In [2]:
import pandas as pd
import json

## Airport Location Data

#### Filter Data

In [47]:
df_airports = pd.read_csv('./data/all_airport_data.csv')
df_itenary = pd.read_csv('./data/origin_arrival.csv')

# keep only unique id 
df_airports = df_airports.drop_duplicates(subset=['AIRPORT_ID'])

# drop if country_code is not US
df_airports = df_airports[df_airports['AIRPORT_COUNTRY_CODE_ISO'] == 'US']

flight_per_airport = df_itenary.groupby(['ORIGIN_AIRPORT_ID']).size().reset_index(name='FLIGHT_COUNT').sort_values(by='FLIGHT_COUNT', ascending=False)

top_100_us_airports = flight_per_airport.head(100).drop(columns=['FLIGHT_COUNT']).merge(df_airports, left_on='ORIGIN_AIRPORT_ID', right_on='AIRPORT_ID', how='left').drop(columns=['ORIGIN_AIRPORT_ID'])

top_100_us_airports.to_json('./data/airports.json', orient='records')

## Itenary Data
https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FHK&QO_fu146_anzr=b4vtv0%20n0q%20Qr56v0n6v10%20f748rB

### Most Popular routes

In [30]:
df_itenary = pd.read_csv('./data/origin_arrival.csv')
df_airports = pd.read_json('./data/airports.json')
df_airports = df_airports[['AIRPORT_ID', 'LATITUDE', 'LONGITUDE']]

valid_airport_ids = set(df_airports['AIRPORT_ID'])

print(df_itenary.count())


df_itenary = df_itenary[
    df_itenary['ORIGIN_AIRPORT_ID'].isin(valid_airport_ids) &
    df_itenary['DEST_AIRPORT_ID'].isin(valid_airport_ids)
]

print(df_itenary.count())

flight_counts = df_itenary.groupby(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID']).size().reset_index(name='FLIGHT_COUNT')
flight_counts = flight_counts.sort_values(by=['ORIGIN_AIRPORT_ID', 'FLIGHT_COUNT'], ascending=[True, False])
top_5_destinations_foreach_origin = flight_counts.groupby('ORIGIN_AIRPORT_ID').apply(lambda x: x.nlargest(5, 'FLIGHT_COUNT'))
top_5_destinations_foreach_origin = top_5_destinations_foreach_origin.reset_index(drop=True)
top_5_destinations_foreach_origin.head(100)

ORIGIN_AIRPORT_ID     6714113
DEST_AIRPORT_ID       6714113
PASSENGERS            6714113
MARKET_FARE           6714113
MARKET_DISTANCE       6714113
MARKET_MILES_FLOWN    6714113
dtype: int64
ORIGIN_AIRPORT_ID     4912280
DEST_AIRPORT_ID       4912280
PASSENGERS            4912280
MARKET_FARE           4912280
MARKET_DISTANCE       4912280
MARKET_MILES_FLOWN    4912280
dtype: int64

    ORIGIN_AIRPORT_ID  DEST_AIRPORT_ID  FLIGHT_COUNT
0               10140            12889          1296
1               10140            14107          1284
2               10140            12892          1237
3               10140            11292           818
4               10140            14747           795
..                ...              ...           ...
95              11278            10721          3260
96              11278            13204          3078
97              11278            12892          3012
98              11278            13930          2846
99              11278            10397          2782

[100 rows x 3 columns]

In [29]:
connections_df = top_5_destinations_foreach_origin.merge(
    df_airports,
    how='left',
    left_on='ORIGIN_AIRPORT_ID',
    right_on='AIRPORT_ID'
).rename(columns={'LATITUDE': 'ORIGIN_AIRPORT_LAT', 'LONGITUDE': 'ORIGIN_AIRPORT_LONGITUDE'})

connections_df = connections_df.drop(columns='AIRPORT_ID')

connections_df = connections_df.merge(
    df_airports,
    how='left',
    left_on='DEST_AIRPORT_ID',
    right_on='AIRPORT_ID'
).rename(columns={'LATITUDE': 'DEST_AIRPORT_LAT', 'LONGITUDE': 'DEST_AIRPORT_LONGITUDE'})


connections_df = connections_df.drop(columns='AIRPORT_ID')


connections_df.to_json('./data/connections.json', orient='records')

,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,FLIGHT_COUNT,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LONGITUDE,DEST_AIRPORT_LAT,DEST_AIRPORT_LONGITUDE
0,10140,12889,1296,35.041667,-106.606389,36.080000,-115.152222
1,10140,14107,1284,35.041667,-106.606389,33.436111,-112.009444
2,10140,12892,1237,35.041667,-106.606389,33.942500,-118.408056
3,10140,11292,818,35.041667,-106.606389,39.774444,-104.879722
4,10140,14747,795,35.041667,-106.606389,47.447222,-122.305556
5,10257,13204,1818,42.745833,-73.805278,28.431667,-81.324722
6,10257,11697,1178,42.745833,-73.805278,26.074167,-80.151667
7,10257,15304,856,42.745833,-73.805278,27.973056,-82.535278
8,10257,10397,520,42.745833,-73.805278,33.640833,-84.427222
9,10257,11292,518,42.745833,-73.805278,39.774444,-104.879722
10,10299,14747,1183,61.169167,-149.985278,47.447222,-122.305556
11,10299,14107,880,61.169167,-149.985278,33.436111,-112.009444
12,10299,12889,805,61.169167,-149.985278,36.080000,-115.152222
13,10299,12892,583,61.169167,-149.985278,33.942500,-118.408056
14,10299,14057,567,61.169167,-149.985278,45.589167,-122.595000
15,10397,12892,5406,33.640833,-84.427222,33.942500,-118.408056
16,10397,12953,4650,33.640833,-84.427222,40.779444,-73.875833
17,10397,12889,3811,33.640833,-84.427222,36.080000,-115.152222
18,10397,13930,3705,33.640833,-84.427222,41.978056,-87.906111
19,10397,11292,3565,33.640833,-84.427222,39.774444,-104.879722

### Flight delays

In [4]:
df = pd.read_csv('./data/flight_delays_data.csv')

# Define the bins and labels
bins = [0, 5, 15, 30, 45, 90, float('inf')]
labels = ['<5', '<15', '<30', '<45', '<90', '90+']

# Bin the data
df['DEP_DELAY_BINNED'] = pd.cut(df['DEP_DELAY'], bins=bins, labels=labels, right=False)

# Group by the airport ID and count the number of entries for each bin
grouped = df.groupby('ORIGIN_AIRPORT_ID')['DEP_DELAY_BINNED'].value_counts().unstack(fill_value=0)

# Prepare the data for JSON
result = {}
for airport_id, counts in grouped.iterrows():
    result[airport_id] = {
        'labels': labels,
        'data': (counts * 12).tolist()
    }


# Save the result as a JSON file
with open('./data/delayed_flights.json', 'w') as f:
    json.dump(result, f)

In [21]:
### Airport Scores on Delays, Diversion, Size, Cancellation

In [28]:
df = pd.read_csv('./data/flight_delays_data.csv')

cancelled_counts = df.groupby('ORIGIN_AIRPORT_ID')['CANCELLED'].sum()
delayed_counts = df.groupby('ORIGIN_AIRPORT_ID')['DEP_DEL15'].sum()
diverted_counts = df.groupby('ORIGIN_AIRPORT_ID')['DIVERTED'].sum()
entry_counts = df.groupby('ORIGIN_AIRPORT_ID').size()

cancelled_rate = cancelled_counts / entry_counts
delayed_rate = delayed_counts / entry_counts
diverted_rate = diverted_counts / entry_counts

def normalize(series):
    return 100 * (series - series.min()) / (series.max() - series.min())

normalized_cancelled = normalize(cancelled_rate)
normalized_delayed = normalize(delayed_rate)
normalized_diverted = normalize(diverted_rate)
normalized_entries = normalize(entry_counts)

# Create a DataFrame with the normalized 
scores_df = pd.DataFrame({
    'CANCELLED': normalized_cancelled,
    'DELAYED': normalized_delayed,
    'DIVERTED': normalized_diverted,
    'AIRPORT_SIZE': normalized_entries
})

scores_df['COMPOSITE_SCORE'] = scores_df.mean(axis=1)

json_data = {}
for airport_id in scores_df.index:
    json_data[str(airport_id)] = {
        'labels': ['cancelled', 'delayed', 'diverted', 'airport size', 'composite_score'],
        'data': scores_df.loc[airport_id].tolist()
    }

print("Data saved to airport_scores.json")
with open('./data/airport_scores.json', 'w') as json_file:
    json.dump(json_data, json_file, indent=4)

Data saved to airport_scores.json

### Delay types

In [13]:
df = pd.read_csv('./data/flight_delays_data.csv')

df = df.fillna(0)

# filter to keep entries with delay
df = df[df['DEP_DELAY'] > 0]

delay_types_df = pd.DataFrame({
    'AIRPORT_ID': df['ORIGIN_AIRPORT_ID'],
    'CARRIER_DELAY_PCT': df['CARRIER_DELAY'] / df['DEP_DELAY'] * 100,
    'WEATHER_DELAY_PCT': df['WEATHER_DELAY'] / df['DEP_DELAY'] * 100,
    'NAS_DELAY_PCT': df['NAS_DELAY'] / df['DEP_DELAY'] * 100,
    'SECURITY_DELAY_PCT':  df['SECURITY_DELAY'] / df['DEP_DELAY'] * 100
})

delay_types_df['OTHER_DELAY_PCT'] = 100 - (
    delay_types_df['CARRIER_DELAY_PCT'] + 
    delay_types_df['WEATHER_DELAY_PCT'] + 
    delay_types_df['NAS_DELAY_PCT'] + 
    delay_types_df['SECURITY_DELAY_PCT']
)

delay_types_df = delay_types_df.groupby('AIRPORT_ID')[['CARRIER_DELAY_PCT', 'WEATHER_DELAY_PCT', 'NAS_DELAY_PCT', 'SECURITY_DELAY_PCT', 'OTHER_DELAY_PCT']].mean()

json_data = {}
for airport_id in delay_types_df.index:
    json_data[str(airport_id)] = {
        'labels': ['carier delay', 'weather delay', 'national airspace system error', 'security delay', 'other'],
        'data': delay_types_df.loc[airport_id].tolist()
    }

with open('./data/delay_types.json', 'w') as json_file:
    json.dump(json_data, json_file, indent=4)

### Flight diversions

In [15]:

df_airports = pd.read_json('./data/airports.json')

df_delay = pd.read_csv('./data/flight_delays_data.csv')
df_delay = df_delay.drop(columns=['YEAR', 'MONTH', 'OP_UNIQUE_CARRIER', 
                                  'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 
                                  'DEST_AIRPORT_SEQ_ID','DEST_CITY_MARKET_ID', 'DEST_STATE_ABR', 
                                  'DEST_STATE_NM', 'DEST_CITY_NAME'])
# df_delay.head(100)

# calculate the number of divertion per airport, and sort them in descending order
df_diversion = df_delay[df_delay['DIVERTED'] == 1]
df_diversion = df_diversion.groupby('ORIGIN_AIRPORT_ID').size().reset_index(name='DIVERTED_COUNT').sort_values(by='DIVERTED_COUNT', ascending=False)

# keep only top 20 airports with the most number of divertions, drop all columns but ORIGIN_AIRPORT_ID and DIVERTED_COUNT
top_20_diverted_airports = df_diversion.head(20)[['ORIGIN_AIRPORT_ID', 'DIVERTED_COUNT']].merge(df_airports, left_on='ORIGIN_AIRPORT_ID', right_on='AIRPORT_ID', how='left').drop(columns=['ORIGIN_AIRPORT_ID'])
top_20_diverted_airports['DIVERTED_COUNT'] = top_20_diverted_airports['DIVERTED_COUNT'] * 12
print(top_20_diverted_airports)

json_data = {
    'labels': top_20_diverted_airports['AIRPORT'].tolist(),
    'data': top_20_diverted_airports['DIVERTED_COUNT'].tolist()
}

# Save to a JSON file
with open('./data/diverted_flights.json', 'w') as json_file:
    json.dump(json_data, json_file)

    DIVERTED_COUNT  AIRPORT_ID AIRPORT  \
0             1296       11298     DFW
1             1212       14747     SEA
2             1212       13930     ORD
3              972       10397     ATL
4              780       11292     DEN
5              624       12266     IAH
6              612       11057     CLT
7              564       12892     LAX
8              540       13303     MIA
9              468       11697     FLL
10             432       10721     BOS
11             420       14107     PHX
12             420       12953     LGA
13             408       11618     EWR
14             408       13204     MCO
15             408       14100     PHL
16             372       13487     MSP
17             372       14869     SLC
18             348       12889     LAS
19             312       14771     SFO

                       DISPLAY_AIRPORT_NAME DISPLAY_AIRPORT_CITY_NAME_FULL  \
0                Dallas Fort Worth Regional          Dallas/Fort Worth, TX
1                     Seattle International                    Seattle, WA
2              Chicago O'Hare International                    Chicago, IL
3                         Atlanta Municipal                    Atlanta, GA
4                      Denver International                     Denver, CO
5      George Bush Intercontinental/Houston                    Houston, TX
6           Charlotte Douglas International                  Charlotte, NC
7                 Los Angeles International                Los Angeles, CA
8                       Miami International                      Miami, FL
9   Fort Lauderdale-Hollywood International            Fort Lauderdale, FL
10                      Logan International                     Boston, MA
11         Phoenix Sky Harbor International                    Phoenix, AZ
12                               La Guardia                   New York, NY
13             Newark Liberty International                     Newark, NJ
14                    Orlando International                    Orlando, FL
15               Philadelphia International               Philadelphia, PA
16        Minneapolis-St Paul International                Minneapolis, MN
17             Salt Lake City International             Salt Lake City, UT
18                 Harry Reid International                  Las Vegas, NV
19              San Francisco International              San Francisco, CA

   AIRPORT_COUNTRY_CODE_ISO  LAT_DEGREES   LATITUDE  LON_DEGREES   LONGITUDE  \
0                        US           32  32.894444           97  -97.029722
1                        US           47  47.447222          122 -122.305556
2                        US           41  41.974444           87  -87.906667
3                        US           33  33.640833           84  -84.427222
4                        US           39  39.861667          104 -104.673056
5                        US           29  29.983333           95  -95.340000
6                        US           35  35.213611           80  -80.949167
7                        US           33  33.942500          118 -118.408056
8                        US           25  25.792500           80  -80.286111
9                        US           26  26.071667           80  -80.149722
10                       US           42  42.363056           71  -71.006389
11                       US           33  33.434167          112 -112.011667
12                       US           40  40.777222           73  -73.872500
13                       US           40  40.692500           74  -74.168611
14                       US           28  28.429444           81  -81.308889
15                       US           39  39.868056           75  -75.248611
16                       US           44  44.881944           93  -93.221667
17                       US           40  40.784167          111 -111.966944
18                       US           36  36.080000          115 -115.152222
19                       US           37  37.618889          122 -122.375556

    AIRPORT_IS_CLOSED  AIRPORT_IS_LATEST
0                   0                  0
1                   0                  0
2                   0                  0
3                   0                  0
4                   0                  1
5                   0                  0
6                   0                  1
7                   0                  0
8                   0                  0
9                   0                  0
10                  0                  1
11                  0                  1
12                  0                  0
13                  0                  1
14                  0                  1
15                  0                  0
16                  0                  1
17                  0                  0
18                  0                  1
19                  0                  0

In [11]:
# Load the data
df_airports = pd.read_json('./data/airports.json')
df_delay = pd.read_csv('./data/flight_delays_data.csv')

# Drop unnecessary columns
df_delay = df_delay.drop(columns=['YEAR', 'MONTH', 'OP_UNIQUE_CARRIER', 
                                  'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 
                                  'DEST_AIRPORT_SEQ_ID','DEST_CITY_MARKET_ID', 'DEST_STATE_ABR', 
                                  'DEST_STATE_NM', 'DEST_CITY_NAME'])

# Calculate the number of departure delays above 15 minutes per airport
df_departure_delay = df_delay[df_delay['DEP_DEL15'] == 1]
df_departure_delay = df_departure_delay.groupby('ORIGIN_AIRPORT_ID').size().reset_index(name='DEPARTURE_DELAY_COUNT').sort_values(by='DEPARTURE_DELAY_COUNT', ascending=False)

# Keep only top 20 airports with the most number of departure delays, and drop all columns but ORIGIN_AIRPORT_ID and DEPARTURE_DELAY_COUNT
top_20_departure_delays = df_departure_delay.head(20)[['ORIGIN_AIRPORT_ID', 'DEPARTURE_DELAY_COUNT']].merge(df_airports, left_on='ORIGIN_AIRPORT_ID', right_on='AIRPORT_ID', how='left').drop(columns=['ORIGIN_AIRPORT_ID'])

# Multiply the departure delay count by 12
top_20_departure_delays['DEPARTURE_DELAY_COUNT'] = top_20_departure_delays['DEPARTURE_DELAY_COUNT'] * 12

# Print the result
print(top_20_departure_delays)

# Prepare the JSON data
json_data = {
    'labels': top_20_departure_delays['AIRPORT'].tolist(),
    'data': top_20_departure_delays['DEPARTURE_DELAY_COUNT'].tolist()
}

# Save to a JSON file
with open('./data/departure_delays.json', 'w') as json_file:
    json.dump(json_data, json_file)

    DEPARTURE_DELAY_COUNT  AIRPORT_ID AIRPORT  \
0                   82992       11298     DFW
1                   79248       11292     DEN
2                   77352       13930     ORD
3                   65268       10397     ATL
4                   55716       11057     CLT
5                   45408       13204     MCO
6                   39096       12889     LAS
7                   37632       14107     PHX
8                   37068       13303     MIA
9                   36552       14747     SEA
10                  36156       12266     IAH
11                  32628       11697     FLL
12                  31212       12953     LGA
13                  29940       12892     LAX
14                  29688       11278     DCA
15                  29220       11433     DTW
16                  27528       10821     BAL
17                  27096       10721     BOS
18                  25440       14771     SFO
19                  25248       11618     EWR

                       DISPLAY_AIRPORT_NAME DISPLAY_AIRPORT_CITY_NAME_FULL  \
0                Dallas Fort Worth Regional          Dallas/Fort Worth, TX
1                      Denver International                     Denver, CO
2              Chicago O'Hare International                    Chicago, IL
3                         Atlanta Municipal                    Atlanta, GA
4           Charlotte Douglas International                  Charlotte, NC
5                     Orlando International                    Orlando, FL
6                  Harry Reid International                  Las Vegas, NV
7          Phoenix Sky Harbor International                    Phoenix, AZ
8                       Miami International                      Miami, FL
9                     Seattle International                    Seattle, WA
10     George Bush Intercontinental/Houston                    Houston, TX
11  Fort Lauderdale-Hollywood International            Fort Lauderdale, FL
12                               La Guardia                   New York, NY
13                Los Angeles International                Los Angeles, CA
14        Ronald Reagan Washington National                 Washington, DC
15               Detroit Metro Wayne County                    Detroit, MI
16                 Friendship International                  Baltimore, MD
17                      Logan International                     Boston, MA
18              San Francisco International              San Francisco, CA
19             Newark Liberty International                     Newark, NJ

   AIRPORT_COUNTRY_CODE_ISO  LAT_DEGREES   LATITUDE  LON_DEGREES   LONGITUDE  \
0                        US           32  32.894444           97  -97.029722
1                        US           39  39.861667          104 -104.673056
2                        US           41  41.974444           87  -87.906667
3                        US           33  33.640833           84  -84.427222
4                        US           35  35.213611           80  -80.949167
5                        US           28  28.429444           81  -81.308889
6                        US           36  36.080000          115 -115.152222
7                        US           33  33.434167          112 -112.011667
8                        US           25  25.792500           80  -80.286111
9                        US           47  47.447222          122 -122.305556
10                       US           29  29.983333           95  -95.340000
11                       US           26  26.071667           80  -80.149722
12                       US           40  40.777222           73  -73.872500
13                       US           33  33.942500          118 -118.408056
14                       US           38  38.851389           77  -77.037778
15                       US           42  42.212500           83  -83.353333
16                       US           39  39.175556           76  -76.671389
17                       US           42  42.363056           71  -71.006389
18                       US           37  37.618889          122 -122.375556
19                       US           40  40.692500           74  -74.168611

    AIRPORT_IS_CLOSED  AIRPORT_IS_LATEST
0                   0                  0
1                   0                  1
2                   0                  0
3                   0                  0
4                   0                  1
5                   0                  1
6                   0                  1
7                   0                  1
8                   0                  0
9                   0                  0
10                  0                  0
11                  0                  0
12                  0                  0
13                  0                  0
14                  0                  0
15                  0                  1
16                  0                  0
17                  0                  1
18                  0                  0
19                  0                  1

In [10]:
df_delay.head(50)

,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_DELAY,DEP_DEL15,DEP_DELAY_GROUP,ARR_DELAY,ARR_DEL15,...,FLIGHTS,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,DIV_ARR_DELAY,DIV1_AIRPORT,DIV1_AIRPORT_ID
0,20363,10135,ABE,10397,ATL,-19.0,0.0,-2.0,17.0,1.0,...,1.0,0.0,0.0,17.0,0.0,0.0,0,NaN,NaN,NaN
1,20363,10135,ABE,10397,ATL,-11.0,0.0,-1.0,-28.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,20363,10135,ABE,10397,ATL,-11.0,0.0,-1.0,-19.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,20363,10135,ABE,10397,ATL,-10.0,0.0,-1.0,-34.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,20363,10135,ABE,10397,ATL,-10.0,0.0,-1.0,14.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
5,20363,10135,ABE,10397,ATL,-10.0,0.0,-1.0,16.0,1.0,...,1.0,0.0,0.0,16.0,0.0,0.0,0,NaN,NaN,NaN
6,20363,10135,ABE,10397,ATL,-9.0,0.0,-1.0,-28.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
7,20363,10135,ABE,10397,ATL,-9.0,0.0,-1.0,-25.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
8,20363,10135,ABE,10397,ATL,-9.0,0.0,-1.0,-20.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
9,20363,10135,ABE,10397,ATL,-8.0,0.0,-1.0,-33.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
10,20363,10135,ABE,10397,ATL,-8.0,0.0,-1.0,-16.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
11,20363,10135,ABE,10397,ATL,-8.0,0.0,-1.0,-7.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
12,20363,10135,ABE,10397,ATL,-7.0,0.0,-1.0,-27.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
13,20363,10135,ABE,10397,ATL,-7.0,0.0,-1.0,-25.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
14,20363,10135,ABE,10397,ATL,-6.0,0.0,-1.0,-39.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
15,20363,10135,ABE,10397,ATL,-6.0,0.0,-1.0,-28.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
16,20363,10135,ABE,10397,ATL,-6.0,0.0,-1.0,-11.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
17,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1,347.0,GSP,11996.0
18,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-44.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
19,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-39.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
20,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-38.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
21,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-34.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
22,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-27.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
23,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-26.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
24,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-23.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
25,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-20.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
26,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-17.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
27,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-16.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
28,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-15.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
29,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-15.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
30,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-11.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
31,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-10.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
32,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-10.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
33,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,-5.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
34,20363,10135,ABE,10397,ATL,-5.0,0.0,-1.0,1.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
35,20363,10135,ABE,10397,ATL,-4.0,0.0,-1.0,53.0,1.0,...,1.0,0.0,0.0,53.0,0.0,0.0,0,NaN,NaN,NaN
36,20363,10135,ABE,10397,ATL,-3.0,0.0,-1.0,3.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
37,20363,10135,ABE,10397,ATL,-3.0,0.0,-1.0,17.0,1.0,...,1.0,0.0,0.0,17.0,0.0,0.0,0,NaN,NaN,NaN
38,20363,10135,ABE,10397,ATL,-2.0,0.0,-1.0,-38.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
39,20363,10135,ABE,10397,ATL,-2.0,0.0,-1.0,-35.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
40,20363,10135,ABE,10397,ATL,-2.0,0.0,-1.0,-23.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
41,20363,10135,ABE,10397,ATL,-2.0,0.0,-1.0,-15.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
42,20363,10135,ABE,10397,ATL,-2.0,0.0,-1.0,56.0,1.0,...,1.0,0.0,0.0,56.0,0.0,0.0,0,NaN,NaN,NaN
43,20363,10135,ABE,10397,ATL,-1.0,0.0,-1.0,-18.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
44,20363,10135,ABE,10397,ATL,-1.0,0.0,-1.0,-12.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
45,20363,10135,ABE,10397,ATL,-1.0,0.0,-1.0,-9.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
46,20363,10135,ABE,10397,ATL,-1.0,0.0,-1.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
47,20363,10135,ABE,10397,ATL,-1.0,0.0,-1.0,20.0,1.0,...,1.0,0.0,0.0,20.0,0.0,0.0,0,NaN,NaN,NaN
48,20363,10135,ABE,10397,ATL,0.0,0.0,0.0,27.0,1.0,...,1.0,0.0,0.0,27.0,0.0,0.0,0,NaN,NaN,NaN
49,20363,10135,ABE,10397,ATL,1.0,0.0,0.0,8.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN